.first-container{
  height: 1px;
  width: 5px;
  background-color:darkgreen;
  border: salmon;
}

.second-container{
  height: 1px;
  width: 5px;
  background-color:darkgreen;
}

.third-container{
  height: 1px;
  width: 5px;
  background-color:crimson;
}
